DB_HOST=localhost
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_NAME=tu_base
DB_PORT=8080
# IMPORTANTE!!
# DB_SSLMODE = disable para dev, DB_SSLMODE = require/verify-full para produccion
DB_SSLMODE = disable