DB_HOST=localhost
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_NAME=tu_base
DB_PORT=8080
# IMPORTANTE!!
# DB_SSLMODE = disable para dev, DB_SSLMODE = require/verify-full para produccion
DB_SSLMODE = disable
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FRONT_VENTAS_URL=
FRONT_INVENTARIO_URL=
FRONT_FACTURACION_URL=
BACK_FACTURACION_URL=